$base_font_family: 'Open Sans', sans-serif;
$font_size_big:20px;
$font_size_middle:15px;
$font_size_small:10px;
$font_size_xxl: 30px;
    
$base_color_blue:#001d8a;
$base_color_yellow:#ecd407;
$base_color_grey:#292929;
$color_white:#fff;
$color_seethrough:rgba(255,255,255,0);


$full_width:100%;
 