@import "zmienne";

#header {
    width: $full_width;
    display: flex;
    align-items: center;
    
    article {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: auto;
        div{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin:0;
            p{
                margin: 0;
            }
        }
    }
}  