@import "zmienne";

@mixin menu_nawigacyjne {
    color: red;
    font-size: 22px;
}

body {
    color: $base_color;
    background-color: $bg_color;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            display: inline-block;
            
            a{
                @include menu_nawigacyjne;
            }
        }
    }
}