#header {
  width: 100%;
  display: flex;
  align-items: center; }
  #header article {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: auto; }
    #header article div {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0; }
      #header article div p {
        margin: 0; }
